<!DOCTYPE html>
<html>

<body style="background-color:blue">
<h1 style="color:yellow">
    Web 0.5 Beta
</h1>
<p style="color:lightgrey">
    This is a simple test page. That looks like it comes from the 1980s.
</p>

<pre style="color:lightgreen">
              \ /
            -->*<--
              /<font color="red">o</font>\
             /_\_\
            /_/_<font color="darkblue">0</font>_\
           /_<font color="red">o</font>_\_\_\
          /_/_/_/_/<font color="red">o</font>\
         /<font color="orange">0</font>\_\_\<font color="orange">0</font>\_\_\
        /_/_/<font color="darkblue">0</font>/_/_/_/_\
       /_\_\_\_\_\<font color="orange">0</font>\_\_\
      /_/<font color="darkblue">0</font>/_/_/_<font color="darkblue">0</font>_/_/<font color="orange">0</font>/_\
     /_\_\_\_\_\_\_\_\_\_\
    /_/<font color="red">o</font>/_/_/<font color="orange">0</font>/_/_/<font color="red">o</font>/_/<font color="orange">0</font>/_\
            [___]
</pre>
<br/>
<br/>
<footer style="color:yellow">
    Copywrite Derek Jones, 1984
</footer>

</body>
</html>
